.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 30px 0px; }

.navbar-right li {
  margin-left: 20px; }

.search-box-container input {
  padding: 5px 20px 5px 5px; }

.search-box-container:after {
  content: "\f002";
  font-family: FontAwesome;
  color: #343a40;
  margin-left: -25px;
  margin-right: 25px; }

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none; }

.td-border {
  border: solid 1px #343a40; }

.link:hover {
  cursor: pointer; }

.carousel .carousel-item {
  height: 300px; }

.footer {
  color: floralwhite;
  margin: 0px auto;
  padding: 20px 0px; }

.btn-white {
  background-color: white;
  border-color: #ced4da;
  color: #212529; }

.input-group > .input-group-append > .btn-white {
  border-left: solid 1px white; }

.input-group > .input-group-prepend > .btn-white {
  border-right: solid 1px; }
